In [1]:
import pandas as pd

In [2]:
def change_kc_label(kc_label, question_number):
    kc_list = []
    for kc in kc_label[kc_label['Question Number'] == question_number]['KC applied'].values:
        a = kc.split(',')
        a = [x.strip() for x in a]
        kc_list.append(a)
    return kc_list

def change_step(kc_label, question_number):
    step_list = []
    for step in kc_label[kc_label['Question Number'] == question_number]['Step'].values:
        step_list.append(step)
    return step_list

In [3]:
kc_label_path = 'api/common_core_data/Data/KC_label_f.csv'
kc_label = pd.read_csv(kc_label_path, header=0)

In [4]:
kc_label.head()

,No.,Source,Question,Solution,Step,KC applied,Question Number
0,0,GSM8K-TRAIN,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...,<<48/2=24>>,3.OA.A.3,0
1,1,GSM8K-TRAIN,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...,<<48+24=72>>,2.OA.A.1,0
2,2,GSM8K-TRAIN,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,<<12/60=0.2>>,"4.MD.2, 4.NF.6",1
3,3,GSM8K-TRAIN,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,<<0.2*50=10>>,4.NF.B.4.c,1
4,4,GSM8K-TRAIN,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<...",<<100/2=50>>,3.OA.A.3,2

In [31]:
num = 20
question = kc_label[kc_label['Question Number'] == num]['Question'].values[0]
solution = kc_label[kc_label['Question Number'] == num]['Solution'].values[0]
source = kc_label[kc_label['Question Number'] == num]['Source'].values[0]
steps = change_step(kc_label, num)
kcs = change_kc_label(kc_label, num)
kcs = [item for sublist in kcs for item in sublist]
kcs = list(set(kcs))

print(source)
print('-'*50)
print(question)
print('-'*50)
print(solution)
print('-'*50)
print(steps)
print('-'*50)
print(kcs)

ASDiv
--------------------------------------------------
Daniel has 44 commemorative plates and 33 commemorative spoons. He wants to display them in groups throughout his house, each with the same combination of plates and spoons, with none left over. What is the greatest number of groups Daniel can display?
--------------------------------------------------
GCD(44,33)=11
--------------------------------------------------
['GCD(44,33)=11']
--------------------------------------------------
['6.NS.B.4']

In [32]:
# Check the number of each kind of questions from kc_label['Source]
Source_data = kc_label['Source'].value_counts()
Source_data

Source
GSM8K-TRAIN                  52
MATH Geometry                21
MATH Number Theory           12
MATH Counting                11
ASDiv                        10
MATH Prealgebra               9
MATH Algebra                  7
MATH precalculus              7
MATH Intermediate Algebra     6
Name: count, dtype: int64

In [33]:
kcs

['6.NS.B.4']

In [34]:
KC_question = {}

for i in range(0, len(kc_label['Question Number'].unique())):
    question = kc_label[kc_label['Question Number'] == i]['Question'].values[0]
    solution = kc_label[kc_label['Question Number'] == i]['Solution'].values[0]
    source = kc_label[kc_label['Question Number'] == i]['Source'].values[0]
    steps = change_step(kc_label, i)
    kcs = change_kc_label(kc_label, i)
    kcs = [item for sublist in kcs for item in sublist]
    kcs = list(set(kcs))
    
    grade = []
    for kc in kcs:
        grade.append(kc.split('.')[0])
    
    KC_question[i] = {'Question': question, 'Solution': solution, 'Source': source, 'KCs applied': kcs, 'Grade applied': grade}

import json
with open('api/common_core_data/Data/KC_question_level.json', 'w') as f:
    json.dump(KC_question, f, indent=4)